
.wrapper{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height:92vh;
    width: 100vw;
    align-items: center;
    background: radial-gradient(circle, rgb(40, 40, 40) 0%, rgb(58, 58, 60) 35%, rgb(47, 47, 47) 100%);
}

.wrapper-2{
    height: 55vh;
    width: 60vw;
    padding: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap:3rem;
    align-items: center;
    margin-top:8rem;
    border-radius:8px;
    /* border: none solid; */
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input{
    border: 2px solid gold;
    padding: 1rem;
    border-radius: 8px;
    width:35vw;
    outline: none;
}

button{
    padding: 0.5rem;
    border-radius: 8px;
    background-color: gold;
    border: none;
    transition: 0.2s ease-in-out all;
    font-weight: 600;
}

button:hover{
    transform: scale(0.9);
}

 .button-2{
     background-color: red;
     border-radius: 8px;
     padding : 0.6rem;
     margin: 1rem;
     color: white;
     outline: none;
     cursor: pointer;
     transition: 0.2s ease-in-out all;
}

.button-2:hover{
    transform: scale(0.9);
}